// extends ../layouts/main

// block body
//   .container
//     h3= title
//     .row
//       form.form-horizontal.col-xs-6.panel.panel-default
//         .panel-body
//           fieldset
//             legend Edit Carrier Details
//             .form-group
//               label.control-label.col-xs-4 Insurance phone number
//               .col-xs-8
//                 input.form-control(type="tel")
//             .form-group
//               label.control-label.col-xs-4 Provider portal URL
//               .col-xs-8
//                 input.form-control(type="url" placeholder="")
//             .form-group
//               .col-xs-8.col-xs-offset-4
//                 button.btn.btn-primary.push-right(type="submit") Save
//       .col-xs-6
//         ul
//           li Payer Nuances
//           li Mailing&thinsp;/&thinsp;fax details
extends ../layouts/main

block body
  .container
    h3.page-header= title
    form.form-horizontal(action="/carriers/create" method="POST")
      fieldset
        .panel.panel-default.row
          .panel-body

            .col-xs-6
              .form-group
                label.control-label.col-xs-5 Carrier Name
                .col-xs-7
                  input.form-control(type="text" name="carrierName")
              .form-group
                label.control-label.col-xs-5 Desciption
                .col-xs-7
                  textarea.form-control(name="description")
              .form-group
                label.control-label.col-xs-5 Provider Portal
                .col-xs-7
                  input.form-control(type="text" name="portal")

            .col-xs-6



        .form-group.pull-right

          button.btn.btn-default(type="button") Save
          button.btn.btn-default(type="submit") Done
