extends ../layouts/main

block body
  .container
    h3.page-header #{carrier.name}

    .col-xs-6

      .panel.panel-default
        .panel-heading Description
        .panel-body
          p #{carrier.description}

      if !carrier.nuances
        .panel.panel-default
          .panel-heading Carrier Nuances
          .panel-body
            each nuance in carrier.nuances
              p #{nuance}

    .col-xs-6

      .panel.panel-default
        .panel-heading Provider Portal
        .panel-body
          p #{carrier.providerPortal}

      .panel.panel-default
        .panel-heading Phone Numbers
        .panel-body
