extends ../layouts/main

block body
  .container
    h3.page-header= title
    form.form-horizontal(action="/visits/"+visitNumber+"/edit" method="POST")
      fieldset
        .panel.panel-default.row
            .panel-body
              .col-xs-6
                p Insert line item details here.
                p PR line items
                p PR amounts

              .col-xs-6
                .form-group
                  label.control-label.col-xs-5 Collection Comment
                  .col-xs-7
                    textarea.form-control(name="comment" id="collectionComment" rows="3" autofocus)
                .form-group
                  label.control-label.col-xs-5 Work type
                  .col-xs-7
                    select.form-control(name="workType")
                      option(selected) Review
                      option Online
                      option Call
                .form-group
                  label.control-label.col-xs-5 Claim number
                  .col-xs-7
                    input.form-control(type="text" id="claimNumber" name="claimNumber")
                .form-group
                  label.control-label.col-xs-5 EOB date
                  .col-xs-7
                    input.form-control(type="date" max="today" id="eobDate" name="eobDate")
                .form-group
                  label.control-label.col-xs-5 Check&thinsp;/&thinsp;EFT number
                  .col-xs-7
                    input.form-control(type="text" id="checkNumber" name="checkNumber")
                .form-group
                  label.control-label.col-xs-5 Check&thinsp;/&thinsp;EFT date
                  .col-xs-7
                    input.form-control(type="date" min="2010-01-02" id="checkDate" name="checkDate")
                .form-group
                  label.control-label.col-xs-5 Group number
                  .col-xs-7
                    input.form-control(type="text" placeholder="" name="groupNumber")

        .form-group.pull-right

          button.btn.btn-default(type="submit") Save

          button.btn.btn-default(type="button" data-toggle="modal" data-target="#generateComment" onclick="generateComment()") Generate Comment

          .modal.fade(id="generateComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times
                  h4.modal-title(id="myModalLabel") Comment for Visit #{visitNumber}
                .modal-body
                .modal-footer
                  button.btn.btn-default(type="button" data-dismiss="modal") Close
