// disable responsive bootstrap
.container
  max-width none!important
  width 970px

body
  font normal 14px/1.5 'Roboto', sans-serif;
  background-color #eee

label
  font-weight normal

fieldset
  table
    input
      display block !important
      padding 0 !important
      margin 0 !important
      border 0 !important
      width 100% !important
      border-radius 0 !important
      line-height 1 !important
    td
      margin 0 !important
      padding 0 !important


// Billing type
.bill-type
  display block
  height 100%
  text-align center
.federal
.commercial
.workers-compensation
  color #fff
.federal
  background-color #607D8B      // Blue Grey
.commercial
  background-color #B71C1C      // Red: 900
.workers-compensation
  background-color #DD2C00      // Deep Orange: A700
