extends ../layouts/main

block body
  .container
    h3= title
    br
    form.form-horizontal
      fieldset
        .panel.panel-default.row
            .panel-body
              .col-xs-6
                p Insert text editing feature here.

              .col-xs-6
                .form-group
                  label.control-label.col-xs-5 Document Type
                  .col-xs-7
                    select.form-control
                      option(selected) Appeal
                      option Medical Records
                      option W-9

        .form-group.pull-right
          button.btn.btn-default(type="submit") Save
          button.btn.btn-default(type="submit") Create
