extends ./layouts/main

block body
  .container
    .page-header
      h3= title
      // p AR overview for client
      // p New additions / modifications, etc.
      ul
        li: a(href="/visits") Visits
        li: a(href="/carriers") Carriers
        li: a(href="/archive") Archive
